body{
    height:100vh;
    overflow:hidden;
}

#menu button, #play button {
    height: 87.5px;
    font-size: 40px;
}

#btnPlay{
    grid-row:1;
}

#btnPrevious{
    grid-row:3;
}

#btnNext{
    grid-row:5;
}

#btnAbout{
    grid-row:7;
}

#menu {
    position:relative;
    display:grid;
    left: 10%;
    top: 18%;
    width:37.5%;
    grid-template-rows: auto 18.75px auto 18.75px auto 18.75px auto;
}

#btnMenu {
    position: relative;
    left: 30px;
    top: 20px;
    width: 200px;
}

#play .canvasWrapper {
    margin: auto;
    width: 1300px;
    height: 800px;
    background-color: white;
    border: solid 4px black;
}


