body{
    height:100vh;
    overflow:hidden;
}

#menu button, #play button, #prep button {
    height: 87.5px;
    font-size: 40px;
}

#btnPlay{ grid-row:1; }
#btnPrevious{ grid-row:3; }
#btnNext{ grid-row:5; }
#btnAbout{ grid-row:7; }
#btnPreparation { grid-row: 9; }

#menu {
    position:relative;
    display:grid;
    left: 10%;
    top: 18%;
    width:37.5%;
    grid-template-rows: repeat(5, auto 18.75px);
}

#btnPlayMenu, #btnPrepMenu {
    position: relative;
    left: 30px;
    top: 20px;
    width: 200px;
}

#play .canvasWrapper {
    margin: auto;
    width: 1300px;
    height: 800px;
    background-color: white;
    border: solid 4px black;
}

#prep .header {
    height: 150px;
}

#prep .Icons {
    display: grid;
    width: 80%;
    height: 150px;
    margin: auto;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
}

#prep img {
    border: solid 8px green;
    width: 100px;
    height: 100px;
    margin-bottom: -50px;
}

#portraitBorder {
    border: solid 20px red;
    width: 140px;
    height: 140px;
    margin: 0px;
}

#portrait1 { grid-column: 1; }
#portrait2 { grid-column: 2; }
#portrait3 { grid-column: 3; }

#canvasBackground { z-index: 1; }
#canvasWalls { z-index: 2; }

.canvasWrapper canvas {
    position: absolute;
}
